@mixin PadWidth {
  @media (min-width: 600px) {
    @content;
  }
}

@mixin PadHeight{
  @media (min-height: 700px) {
    @content;
  }
}

@mixin flex-center($direction: row) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}