$color1: #ffffff;
$color2: #e9ecef;
$color3: #d0d0d0;
$color4: #888888;
$color5: #777777;
$color6: #444444;
$color8: #2d2d2d;
$color9: #000000;

$color11: #fcd0c2;
$color12: #e6b5a6;
$color13: #cd9b8c;
$color14: #e09d89;
$color15: #c48876;

$color22: #ffd700;
$color23: #ff0000;
$color24: #038d1a;
$color25: #a20dbd;
$color26: #a843a4;
$color28: #0000ff;

$color-font: #333333;
$color-base: #ffffff;
$color-gnav-bg: #000000;
$color-hover: #b9f6f0;

$font-size-base: 1.6rem;
$font-size-sm: 1.4rem;
$font-size-lg: 2rem;

$height_top: env(safe-area-inset-top);
$height_bottom: 50px;

