* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.van-popup.van-popup--bottom .van-form {
  position: unset;
  width: 100%;

  .van-cell-group--inset {
    padding: 20px 0;
  }
}

main {
  padding: 10px 20px;
  height: calc(100vh - $height_top - $height_bottom);
  margin: 50px auto;
}

.bg-1 {
  background-image: linear-gradient(to right top,
  #ffc4ee,
  #ead1fc,
  #dadcff,
  #d5e5fb,
  #dceaf3);
}