:root {
  --sat: env(safe-area-inset-top, 0px);
  --sar: env(safe-area-inset-right, 0px);
  --sab: env(safe-area-inset-bottom, 0px);
  --sal: env(safe-area-inset-left, 0px);
}

html {
  -webkit-tap-highlight-color: transparent;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100dvh;
  overflow: hidden;
  font-family: 'PingFang TC', 'Microsoft JhengHei', -apple-system, BlinkMacSystemFont, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  user-select: none;
}

#__nuxt {
  width: 100%;
  height: 100%;
  overflow-y: auto; 
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch; 
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scrollbar-width: thin;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
  overscroll-behavior-y: none;

  background-color: var(--bg-color-1, #ffffff);
  padding-top: var(--sat);
  padding-bottom: var(--sab);
  padding-left: var(--sal);
  padding-right: var(--sar);
}

.van-popup.van-popup--bottom .van-form {
  position: unset;
  width: 100%;

  .van-cell-group--inset {
    padding: 20px 0;
  }
}

main {
  position: relative;
  height: $height_content_1;
  height: $height_content_2;
  width: 100%;

  margin: 46px auto 50px;
  overflow-y: auto;
}

.theme-1 {
  background-image: linear-gradient(to right top,
    #e1ebb1,
    #f0e596,
    #fff494,
    #e6cca6,
    #e6d8a6);
}

.theme-2 {
  background-image: linear-gradient(to right top,
    #ffc4ee,
    #ead1fc,
    #dadcff,
    #d5e5fb,
    #dceaf3);
}

.page__container {
  padding: 10px 20px;

  &.h-full {
    height: 100%;
  }

  @media (min-height: 700px) {
    padding: 30px;
  }
}

.policy__container {
  min-height: 100vh;
  padding: 10px 20px;
}