* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scrollbar-width: thin;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
  overscroll-behavior-y: none;

  background-color: var(--bg-color-1, #ffffff);
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
}

.van-popup.van-popup--bottom .van-form {
  position: unset;
  width: 100%;

  .van-cell-group--inset {
    padding: 20px 0;
  }
}

main {
  padding: 10px 20px;
  height: calc(100vh - $height_top - $height_bottom);
  height: calc(100dvh - $height_top - $height_bottom);

  margin: 46px auto 50px;
  overflow-y: auto;
}

.theme-1 {
  background-image: linear-gradient(to right top,
    #e1ebb1,
    #f0e596,
    #fff494,
    #e6cca6,
    #e6d8a6);
}

.theme-2 {
  background-image: linear-gradient(to right top,
    #ffc4ee,
    #ead1fc,
    #dadcff,
    #d5e5fb,
    #dceaf3);
}